div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 5%;
}

.radio-group-title{
  margin-top: 15px;
  font-size: 20px;
}

.post-note{
  width: auto;
  border-radius: 5px;
  font-size: 20px;
}
